body {
	background:#F7F4E9 url(body.png) repeat-x top center;
}
small {
	color:#888
}

th,nav,.active,input[type=submit],.pagination a:hover,.date td a:hover {
	background:#434A48;
	color:#fff
}

select, textarea, input, td, #content, footer {
	background:#fff url(gradient.png) repeat-x 0 -28px
}
tr {
	background-position:0 -18px;
}
#content {
	background-position:0 1px;
}

.active, th, header, nav a, input[type=submit] {
	color:#fff;
}

input, select, textarea {
	border-color:#ddd
}

h1,h2,h3,h4,h5,h6 {
	border-color:#ddd
}

a {
	color:#888
}
a.edit {
	background-image:url(edit.png)
}
a.delete {
	background-image:url(trash.png)
}

header {
	background:#313230
}

nav a:hover {
	background:#383E3C
}
nav .active {
	background:#687370
}

.box,.box > .utils a {
	background:#fff;
	border-color:#eee
}
.box > h2 {
	background:url(box-h2.png) repeat-x bottom center #fff
}

.error,.success,.info,.error a,.success a,.info a {
	color:#fff
}
.error {
	background:#901830
}
.success {
	background:#C2EFC2
}

.glow-sortable-dropindicator {
	background:#eee
}